
build/
Build/
cmake-build-*/
out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json
install_manifest.txt
*.o
*.obj
*.lo
*.slo
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.dSYM/
*.pdb
*.log
.DS_Store
.vscode/
.idea/
.vs/
*.swp
*.tmp
*.temp
*~
*.sav
*.state